body{
    font-family: 'Simonetta', cursive, ;
}

.max-viewport{
    min-height: 100vh;
}

#banner, #contact, #social, .transparent-footer{
    background:linear-gradient(rgba(13, 100, 13, 0.75), rgba(00, 00, 00, 0.75)), url(Images/banner-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.transparent{
    background-color: rgba(15, 15, 15, 0.75);
}

hr {
    background-color: rgba(255, 255, 255, 0.75);
}

#portfolio, #experience{
    background-color: rgb(44, 57, 63);
}

#aboutme{
    background-color: rgb(48, 62, 68);
}

.container-scroll {
    overflow-x: auto;
}

.container-scroll > .row {
    width: 133.33333333%;
}